html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Jersey 10", sans-serif;
  background-color: #000;
  background-image: url('links/background.png');
  background-blend-mode:lighten;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Optional title styling */
h1 {
  width: 90vw;
  text-align: center;
  margin: 20px 0 10px;
  font-weight: 400;
  font-size: 5vw;
  color: white;
  padding: 10px;
}

/* Wrapper that draws the neon border + glow */
.iframe-wrapper {
  position: relative;
  width: 90vw;
  height: 90vh;

  border-radius: 20px;


  box-shadow:
    0 0 10px rgba(88, 10, 88, 0.3),
    0 0 20px rgba(110, 3, 97, 0.2);

  box-sizing: border-box;
}

/* Actual iframe inside the border */
.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  z-index: 5;

  /* inner black background behind game */
  background-color: #000;

  /* inner rounding so it matches wrapper minus padding */
  border-radius: 14px; /* slightly smaller than wrapper radius */
}



